/*barbara topmenu*/
#menu > ul li ul { background:transparent; padding-bottom:240px; }
#menu > ul li li { padding:0 300px 0 0;}
#menu > ul li li a{background-color: rgba(0,0,0,0.8); margin:0; border:1px solid rgba(0,0,0,0); width:161px; min-height:32px;}
#menu > ul .parent {
    background-image: url('../image/arrow-right.png');
	background-repeat:no-repeat;
	background-position: 95% center ;
	background-color: rgba(0,0,0,0.8);
}
#menu > ul li li:hover, #menu > ul li li.sfhover {
	background:transparent;
	color: #fff;
}
#menu > ul li li > a:hover {
	margin: 0px;
	border: 1px solid #BD4C14;
	background-color: #391706; 
}

h5{ color:#1e91cf; display:inline-block; font-size:12px;}
.barbara-topmenu{
	background:#444 url(../image/logobarbara.png) no-repeat;
	padding:10px;
	margin-bottom:20px;
	border:1px solid #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  text-align:center;}
  
.barbara-topmenu .preview-modul{ 
  display:none;
  position:absolute;
  width:220px;
  height:220px;
  background-position:center center;
  background-repeat:no-repeat;
  background-color:#eee;
  padding:10px;
  left:0px;
  z-index:100;} 
.barbara-topmenu  li a:hover .preview-modul{ display:block;}
.barbara-topmenu .prev1{ background-image:url(../image/prev1.png);}
.barbara-topmenu .prev2{ background-image:url(../image/prev2.png);}
.barbara-topmenu .prev3{ background-image:url(../image/prev3.png);}
.barbara-topmenu .prev4{ background-image:url(../image/prev4.png);}
.barbara-topmenu .prev5{ background-image:url(../image/prev5.png);}
.barbara-topmenu .prev6{ background-image:url(../image/prev6.png);}
.barbara-topmenu .prev7{ background-image:url(../image/prev7.png);}
.barbara-topmenu .prev8{ background-image:url(../image/prev8.png);}
.barbara-topmenu .prev9{ background-image:url(../image/prev9.png);}
  
a.small{ text-decoration:underline;}
.barbara-topmenu .nav{ margin-left:130px;}
@media (max-width: 992px) {
.barbara-topmenu .nav{ margin-top:60px; margin-left:0;}
}
.barbara-topmenu .nav li a{ color:#FFF; padding:10px 8px;}
.barbara-topmenu .nav li a:hover{ color:#444;}
.buttons .btn-danger{ color:#FFF;}

#header #menu { z-index:20;}
.short{ width:90px;}
.radius{border-radius: 50%;}

.view_tab { 
  margin-bottom:10px; 
  padding:3px 6px; 
  margin-right:10px; 
  background-color:#eee;
  float:left;
  /* width:200px; */
  position:relative;
}
.view_tab input{ text-align:left; padding:6px 0; border:none; font-size:12px; background:transparent;}

.view_tab.btn-primary{background-color: #428bca;}
.view_tab > .btn{ float:right; border-radius:50%; padding:3px 8px;}
.view_tab.btn-primary:after{
	border: 6px solid transparent; 
	border-top: 6px solid #428bca;
	content: ''; 
    position: absolute; 
    left: 46%; 
	bottom: -12px;}

	
.categorymodul table div{ margin-bottom:6px;}

.nav-tabs.barbara-tabs { padding:10px 10px 0 10px}	
.nav-tabs.barbara-tabs > li > a{color:#fff;padding:10px 8px;}
.nav-tabs.barbara-tabs > li.active > a,
.nav-tabs.barbara-tabs > li:hover > a{color:#555;}

#customcontent2 .barb-tab .nav-tabs{ margin-bottom:0;}
#customcontent2 .barb-tab .nav-tabs > li.active > a{ background-color:#F4f4f4}
#customcontent2 .barb-tab .tab-content{ padding:20px; background-color:#F4f4f4;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;border-right: 1px solid #ddd; margin-bottom:20px;}
.tab-content{ padding:20px; background-color:#fff;}
.note-editor .note-editable{ background-color:#FFF;}

.barbara-tabs-left > .tab-content{  min-height:300px;}
.barbara-tabs-left > .nav-tabs.barbara-tabs { padding:10px 0px 10px 10px}	
.barbara-tabs-left { background-color: #bdd7ed;}
.barbara-tabs-left > .nav-tabs {border:none}
.barbara-tabs-left > .nav-tabs > li{float:none; margin:0;} 
.barbara-tabs-left >.nav-tabs>li>a, 
.barbara-tabs-left > .nav-tabs > li.active > a,
.barbara-tabs-left > .nav-tabs > li.active > a:hover,
.barbara-tabs-left > .nav-tabs > li.active > a:focus	{ border-radius:0; border:none; margin:0;}
.barbara-tabs-left > .nav-tabs.barbara-tabs > li > a{color:#333;}

/*Slider*/
#customcontent{background-color:#267EB5;}
#customcontent > .nav-tabs {
	font-weight: bold;
	width: 200px;
	float:left;
	border:none;
	
}
#customcontent > .tab-content {
	padding: 10px;
	background-color: #fff;
	min-height: 500px;
	margin-left:200px;
	border:1px solid #ddd;
}
#customcontent > .tab-content input, #customcontent select{ margin-bottom:3px;}
#customcontent > .nav-tabs .active > a, 
#customcontent > .nav-tabs .active > a:hover, 
#customcontent > .nav-tabs .active > a:focus {
	border: none;
	background-color: #fff;
	color:#267EB5;
	width:170px;
}
#customcontent > .nav-tabs > li > a {
	border:none;
	color: #fff;
	font-size: 16px;
	width:170px;
}
#customcontent > .nav-tabs > li > a:hover, 
#customcontent > .nav-tabs > li > a:focus {
	background-color: #0F5786;
	border:none;
	color: #fff;
	
}
#customcontent > .nav-tabs > li > a:hover {
	
}
#customcontent > .nav-tabs > li > a {
	border-radius: 0px;
	margin-right: 0px;
	padding: 10px 15px;
}
#customcontent .modbanner_tab{ padding:0; position:relative;}
#customcontent .modbanner_tab a {
    position: absolute;
    right: 6px;
    top: 4px;
	width:22px;
	height:22px;
	line-height:20px;
	text-align:center;
	padding:0;
}
#customcontent .modbanner_tab input{ 
   width:200px;
	border:none;
	height: 30px;
	font-size: 14px;
	color: #fff;
	background-color:#267EB5;
	font-weight:bold;

}
#customcontent .selectedModule .modbanner_tab input,
#customcontent .selectedModule .modbanner_tab input:hover{
	color: #62717a;
	background-color:#fff;
}
#customcontent .modbanner_tab input:focus{
	border:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow:none;
}
#customcontent .modbanner_tab input:hover{ background-color:#0F5786;}
.table-tab .deltab0{ display:none;}
#customcontent.checkbox-inline{ line-height:36px;}
#customcontent.checkbox-inline input[type="checkbox"]{ margin-top:10px;}

.flag-up >div{ position:relative;}
.flag-up img{ position:absolute; top:3px; left:3px; z-index:2;}
.flag-up input, .flag-up textarea{ padding-left:24px; margin-bottom:10px;}

/* ScrollBox  */
.scrollbox {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 100px;
	background: #FFFFFF;
	overflow-y: scroll;
}
.scrollbox img {
	float: right;
	cursor: pointer;
}
.scrollbox div {
	padding: 3px;
}
.scrollbox div input {
	margin: 0px;
	padding: 0px;
	margin-right: 3px;
}
.scrollbox div.even {
	background: #FFFFFF;
}
.scrollbox div.odd {
	background: #E4EEF7;
}
a, .scrollbox div label {
	cursor: pointer;
}
