#bash
/.bash_history

#Админка
/admin/config*.php
/admin/config.parts/*
/admin/app/*
/admin/icons/*
/admin/icons/*
/admin/view/image/flags/*
/admin/view/image/flags.*/*
/admin/icon/*
/admin/pwa/*
/admin/manifest.json
/admin/browserconfig.xml
/admin/favicon.ico
/admin/offline.html
/admin/view/template/sale/bottom_texts/*

#Основные конфиги
/config*.php
/config.parts/*
/system/config.parts/*

#Документы
/docs/*

#Страницы ошибок
/ep/*

#EXPORT: TODO, Там и статика и исполняемый код
/export/

#Фиды и сайтмапы
/feeds/*
/sitemaps/*

#Картинки и кеш
/image
/image/*
/image.*/*
/image.old
/image.old/*
/img/*
/img.*
/img.*/*

#Иконки
/icon/*

#Статичные ресурсы PWA и само PWA
/pwa/*
/offline.html
/offline.*.html
/browserconfig.xml
/favicon.ico
/assetlinks.json

#Статика минификатора
/min/
/min.*/

#node includes
/js/
!/js/package.json
!/js/package-lock.json

#Старая директория api
/api/

#Кэш системного пользователя
/.cache/

#Шаблоны
/catalog/view/theme/kp/
/catalog/view/theme/dp/
/catalog/view/theme/ho/
/catalog/view/theme/dev/
/catalog/view/theme/old/
/catalog/view/theme/_dev/
/catalog/view/theme/_old/
/catalog/view/theme/kp_dev/
/catalog/view/theme/dp_dev/
/catalog/view/theme/ho_dev/
/catalog/view/theme/kp_old/
/catalog/view/theme/dp_old/
/catalog/view/theme/ho_old/

#Языки
/catalog/language/russian
/catalog/language/ukrainian

#Рассылки
/send/*

#Composer
/vendor/
/composer.lock

#Всякая системная шляпа
/system/cache
/system/cache_mfp
/system/config
/system/config/*
!/system/config/api.json
!/system/config/routes.json

/system/csvprice_pro
/system/logs
/system/temp
/system/pids

#Директории IDE
.idea