#bash
/.bash_history

#Админка
/admin/config*.php
/admin/config.parts/*
!/admin/config.sample.php
!/admin/config.parts.sample/*
/admin/app/*
/admin/icons/*
/admin/view/image/flags/*
/admin/view/image/flags.*/*
/admin/view/images/print/*
/admin/view/image/print/*
/admin/view/image/logo*
/admin/icon/*
/admin/pwa/*
/admin/manifest.json
/admin/browserconfig.xml
/admin/favicon.ico
/admin/offline.html
/admin/view/stylesheet/stylesheet.*.css
/admin/view/stylesheet/stylesheet.color.*.css
/admin/view/template/overload/*
/admin/view/template/default/sale/bottom_texts/*
/admin/view/template/default/sale/actiontemplates/*
/admin/view/batch_editor/setting/*

#Основные конфиги
/config*.php
!/config.sample.php
/config.parts/*
/system/config.parts/*

#Документы
/docs/*

#Страницы ошибок
/ep/*

#EXPORT
/export/

#Фиды и сайтмапы
/feeds/*
/sitemaps/*

#Картинки и кеш
/image
/image/*
/image.*/*
/image.old
/image.old/*
/img/*
/img.*
/img.*/*

#Иконки
/icon/*

#Статичные ресурсы PWA и само PWA
/pwa/*
!/pwa/mapper.manifest.json.php
!/pwa/mapper.assetlinks.json.php
/offline.html
/offline.*.html
/browserconfig.xml
/favicon.ico
/assetlinks.json

#Статика минификатора
/min/
/min.*/

#node includes
/js/
!/js/package.json
!/js/package-lock.json

#Старая директория api
/api/

#Шаблоны
/catalog/view/theme/_dev/*
/catalog/view/theme/_old/*

#Языки
/catalog/language/*
!/catalog/language/default/

#Рассылки
/send/*

#Composer
/vendor/

#Webpush service worker
/sw_webpush.js

#Всякая системная шляпа
/system/cache
/system/cache_mfp
/system/structure-demo.sql
/system/structure-demo-*.sql
/system/config
/system/config/*
/system/config.parts/*
!/system/config/index.html
!/system/config/api.json
!/system/config/routes.json
!/system/config/admin_seo_routes.json
!/system/config/cron.json
!/system/config/dbcache.json
!/system/config/loader.json
!/system/config/npm.json
!/system/config/ocfilter.php
!/system/config/setting_tabs.json
!/system/config/sync.json
!/system/config/amazon.json

/system/csvprice_pro
/system/logs
/system/temp
/system/pids

/system/update/CURRENT

#Директории IDE
/.cache/
.idea