
			.mfilter-counter {
				background: #2B2B2B;
				color: #ffffff;
			}
			.mfilter-counter:after {
				border-right-color: #2B2B2B;
			}
		
				.mfilter-search #mfilter-opts-search_button {
					background-color: #2B2B2B;
				}
			
				.mfilter-slider-slider .ui-slider-range,
				#mfilter-price-slider .ui-slider-range {
					background: #2B2B2B !important;
				}
			