@font-face {
    font-family: 'als_rublregular';
    src: url('ruble.eot');
    src: url('ruble.eot?#iefix') format('embedded-opentype'),
         url('ruble.ttf') format('truetype'),
         url('ruble.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ruble{
	font-family: 'als_rublregular', Arial;
	text-decoration: none;
}
.price-old >.ruble{
	display: none;
}