.checkout .field-label {
    text-align: left;
    width: 205px;
}
.price-old {
    white-space: nowrap;
    font-size: 13px;
    text-decoration-line: line-through;
    color: #a4a4a4;
    font-weight: 500;
    text-align: center;
}
.simple-content {
    margin: 0px !important;
}

#content h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3em;
}
#buttons.simplecheckout-button-block,
.breadcrumb,
#simplecheckout_step_menu,
.simplecheckout-left-column.checkout #simplecheckout_cart .total .total_value:nth-of-type(2),
.simplecheckout-left-column.checkout #simplecheckout_cart .total .total_value:nth-of-type(3),
.simplecheckout-left-column.checkout #simplecheckout_cart .total .total_value:last-child,
.order-cart .total .total_value:nth-of-type(2) {
    display: none !important;
}
.order-cart__item-right {
    text-align: right;
}
.simplecheckout-step.order-row.simplecheckout_step_2 {
    justify-content: start;
    justify-content: flex-start;
}
.simplecheckout-step.order-row.simplecheckout_step_2 .simplecheckout-right-column {
    width: 30%;
}
.simplecheckout-step.order-row.simplecheckout_step_2 #simplecheckout_summary {
    position: sticky;
    top: 5px;
}
.simplecheckout-step.order-row.simplecheckout_step_2 .simplecheckout-left-column {
    margin-right: 1%;

    max-width: 1010px;
    width: 69%;
}

#simplecheckout_comment {
    margin-bottom: 0;
}
#simplecheckout_summary {
    margin-top: 0;
    margin-bottom: 30px;
}
#simplecheckout_summary .voucher-code input,
#simplecheckout_summary .promo-code input {
    font-size: 14px;
    padding: 10px 10px 10px 32px;
}
.checkout-steps__select-label {
    width: 205px;
}
.checkout-steps__select-right {
    /*width: calc(100% - 205px);*/
    width: 100%;
}
.simplecheckout-block-content {
    padding: 0;
}
.simplecheckout-methods-description {
    padding: 0 !important;
    margin: 5px 0px;
    font-size: 12px;
    line-height: 14px;
    color: #848484;
}
#simplecheckout_customer .simple-address label {
    margin-right: 20px;
}

.simplecheckout-left-column.checkout #simplecheckout_cart .title {
    display: none;
}

.simplecheckout-left-column.checkout #simplecheckout_cart .order-cart__item .product__photo {
    width: 30px;
}
.simplecheckout-left-column.checkout #simplecheckout_cart .product__title a {
    font-size: 15px;
    line-height: 20px;
}
.simplecheckout-left-column.checkout #simplecheckout_cart {
    width: 100%;
}
.simplecheckout-left-column.checkout #simplecheckout_cart .link {
    font-size: 14px;
}
.simplecheckout-left-column.checkout #simplecheckout_cart #edit_cart_popap,
.simplecheckout-left-column.checkout #simplecheckout_cart .order-cart__item .product__price-new {
    font-size: 14px;
    font-weight: 500;
}
.simplecheckout-left-column.checkout #simplecheckout_cart .order-cart__item .product__amount {
    font-size: 12px;
    line-height: 12px;
}
.simplecheckout-left-column.checkout #simplecheckout_cart .order-cart__item {
    padding: 5px 0;
}
.simplecheckout-left-column.checkout #simplecheckout_cart.order-cart .total {
    font-weight: 500;
    font-size: 15px;
}

.simplecheckout-left-column.checkout #simplecheckout_cart .order-cart__bottom {
    padding: 7px 0;
}
.simplecheckout-left-column.checkout .simplecheckout-login-right {
    width: auto;
}
.simplecheckout-left-column.checkout .simplecheckout-login {
    width: 100%;
}
#simplecheckout-block-login-ajax-wrap .simplecheckout-login-right input {
    max-width: 100% !important;
}
#simplecheckout_summary .simplecheckout-cart-total {
    border: 0 !important;
}
#simplecheckout_summary .voucher-code,
#simplecheckout_summary .promo-code {
    padding: 0;
    text-align: left;
}
#simplecheckout_summary .voucher-code,
#simplecheckout_summary .promo-code {
    display: flex;
    align-items: center;
}
#simplecheckout_summary .voucher-code .inputs input,
#simplecheckout_summary .promo-code .inputs input {
    max-width: 100%;
}
#simplecheckout_summary .voucher-code #simplecheckout_button_cart,
#simplecheckout_summary .promo-code #simplecheckout_button_cart {
    border: 0 !important;
}
#simplecheckout_summary .cart__total_text {
    display: flex;
    justify-content: space-between;
}
#simplecheckout_summary .cart__total_text span:first-of-type {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}
#simplecheckout_summary .cart__total_text span:last-of-type {
    font-weight: 500;
    font-size: 16px;
}
#simplecheckout_summary .cart__total_text:after {
    display: none;
}
#simplecheckout_summary .voucher-code {
    margin-bottom: 20px;
}
#popup-cart #quick_order_popap {
    display: none;
}
/*комент*/
.simple-content .checkout-heading,
#simplecheckout_comment.simplecheckout-block .checkout-heading {
    background: transparent;
    padding: 0;
    margin-top: 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: #51a881;
}
#simplecheckout_comment .simplecheckout-block-content {
    height: 0;
    overflow: hidden;
    transition: 0.15s ease-in-out;
}
#simplecheckout_comment .simplecheckout-block-content.open {
    height: 116px;
}
#simplecheckout_comment .simplecheckout-block-content textarea {
    font-size: 16px;
    padding: 15px;
    box-shadow: none;
    resize: none;
    margin-top: 15px !important;
}
.checkout-steps__select {
    padding-left: 70px;
}
#popup-cart .cart-modal__tottal .ajaxtable_tr2:nth-of-type(2) {
    display: none;
}
#popup-cart #gotoorder {
    margin-left: auto;
}
.SumoSelect > .optWrapper {
    width: 100% !important;
}
.SumoSelect > .optWrapper > .options li.opt {
    text-indent: 5px !important;
}
.SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont,
.SumoSelect .select-all > label {
    font-size: 14px;
}
.simplecheckout-button-right .button_oc {
    font-size: 18px;
    padding: 14px 16px;
}
.simple-content .buttons {
    padding: 0;
    display: block;
    margin-bottom: 25px;
}
.btn-group-register {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.btn-group-register button {
    width: 48%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 8px;
    background: #fff !important;
    background-color: #fff;
    font-size: 18px;
    color: #0385c1 !important;
    text-shadow: none;
    transition: 0.15s ease-in-out;
    outline: none !important;
    font-weight: 500;
    letter-spacing: 0.21px;
    height: 54px;
    border: 1px solid #51a881;
}
.btn-group-register button .btn-img {
    max-width: 46px;
    width: 46px;
    padding: 0;
    margin-right: 13px;
}
.btn-group-register button:last-child {
    margin-bottom: 0;
}
.btn-group-register button .btn-img {
    max-width: 46px;
    width: 46px;
    padding: 0;
    margin-right: 13px;
}
.btn-group-register .fa-facebook-f {
    color: #0385c1;
    position: initial;
    background: transparent;
    height: auto;
    font-size: 18px;
}
h2.header_btn_register {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
#simplecheckout_payment .simplecheckout-methods-description img {
    max-width: 200px;
}
.quick_order_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.quick_order_wrap #quick_order_simplecheckout_btn {
    flex-basis: 35%;
    margin-left: auto;
    max-height: 40px;
    height: 40px;
}
#customer_telephone {
    flex-basis: 60%;
}
@media screen and (min-width: 1025px) {
    .simplecheckout_step_1 .simplecheckout-left-column {
        height: max-content;
        position: sticky;
        top: 5px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px) {
    .checkout-steps__select {
        padding-left: 0;
    }

    .simplecheckout_step_1 .simplecheckout-left-column,
    .simplecheckout-step.order-row.simplecheckout_step_2 .simplecheckout-left-column {
        margin-right: 0;
        margin-left: 0;
        padding: 15px;
    }
}
@media screen and (max-width: 480px) {
    .header-order__contact-tel {
        font-size: 15px;
    }
    #content h1 {
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 23px;
        font-weight: 500;
        line-height: 1.1em;
    }
    #simplecheckout_cart #edit_cart_popap {
        font-size: 11px;
        line-height: 16px;
    }
    .checkout-steps__head {
        margin-top: 20px;
    }
    .order-cart .total {
        font-size: 14px;
    }
    .header-order__logo a {
        width: 100px;
        max-width: 100px !important;
        height: 40px;
    }
    .header-order__contact {
        height: 37px;
    }
    .simplecheckout_step_1 .simplecheckout-left-column,
    .simplecheckout-step.order-row.simplecheckout_step_2 .simplecheckout-left-column {
        padding: 0;
        padding-bottom: 15px;
    }
    .btn-group-register {
        flex-direction: column;
    }
    .btn-group-register button {
        width: 100%;
    }
}
